{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}?version=51">
</head>
<body class="bodygo" style="margin-top: 20px;background-color: white;">
    <img src="{% static 'back.jpg' %}" id="backimg">
    <div id="loginpg" style="margin-top: -630px;">
        <h1 class="word" style="margin-left: 300px;margin-bottom: 20px;margin-top: -70px;">Регистрация</h1>
        <p id="word2" style="margin-left: 300px;margin-bottom: 10px;">Вы должны зарегестрироваться</p>
        <form method="post" style="margin-left: 300px;">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                <td>
                <input type="text" name="username" value="test" maxlength="150" autofocus="" required="" id="id_username" class="id_password" placeholder="Логин">
                
                    <br>
                </td>
            </tr>

            <tr>
                <td>
                
                <input type="text" name="name" maxlength="100" required="" id="id_name" class="id_password" style="margin-top: -15px;" placeholder="Название">
                
                
                </td>
            </tr>

            <tr>
                <td>
                
                <input type="text" name="first_name" maxlength="30" required="" id="id_first_name" class="id_password" placeholder="Имя">
                
                
                </td>
            </tr>

            <tr>
                <td>
                
                <input type="text" name="last_name" maxlength="30" required="" id="id_last_name" class="id_password" placeholder="Фамилия">
                
                
                </td>
            </tr>

            <tr>
                <td>
                
                <input type="email" name="email" required="" id="id_email" class="id_password" placeholder="Email">
                
                
                </td>
            </tr>

            <tr>
                <td>
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="id_password" placeholder="Пороль">
                
                    <br>
                
                
                </td>
            </tr>

            <tr>
                <td>
                
                <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="id_password" style="margin-top: -15px;" placeholder="Подтверждение">
                
                    <br>
                </td>
            </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Sign Up" id="submit1" style="margin-bottom: 30px;background-color: #DC052D;border-radius: 10px;padding-left: 5px;width: 100px;margin-left: -150px;"></td>
                        </tr>
                </tbody></table>
                <input type="hidden" name="next" value="">
        </form>
    </div>
</body>